.about,
.request-demo,
.carousel,
.featured,
.solution,
.roi,
.clients {
    padding: 75px 0;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__description{
        width: 39%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 1360px){
            width: 500px;
        }
        h2{
            font-size: 1.2rem;
            color:#d5cfce;
            font-weight: 900;
            margin-bottom: 20px;
        }
        &-title{
            font-size: 2rem;
            font-weight: 800;
            color: $blue;
        }
        &-text{
            margin: 30px 0;

            @media screen and (max-width: 991px){
                max-width: 420px;
                font-size: 1rem;
            }
        }
        .link{
            display: block;
            @media screen and (max-width: 991px){
                font-size: 15px;
            }
        }
        .btn--blue {
            float: left;
            margin:0 !important;
        }
    }
    &__cards{
        width: 59%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: flex-start;
        //width: calc(520px + 2rem);

        @media screen and (min-width: 1360px){
            width: 50%;
        }

        &-item{
            display: flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            position: relative;
            width: 250px;
            height: 250px;
            color: rgb(21, 16, 67);
            box-shadow: rgba(101, 101, 101, 0.1) -10px 55px 40px 0px;
            padding: 1.5rem;
            background: white;
            border-radius: 12px;

            @media screen and (min-width: 992px){
                display: block;
            }

            &:first-child {
                margin-bottom: calc(-125px + 1rem);
            }
            &:nth-child(2) {
                align-self: flex-end;
            }
            &:last-child {
                margin-top: calc(-125px + 1rem);
                color: white;
                background: rgb(21, 16, 67);
                .about__cards-item-content p,
                .about__cards-item__value,
                h4 {
                    color: white;
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 180px;
                height: 180px;
                z-index: -1;
                background: rgba(213, 207, 206, 0.25);
            }
            &:first-child::before {
                top: -2rem;
                left: -2rem;
                border-top-left-radius: 25px;
            }
            &:nth-child(2)::before {
                bottom: -2rem;
                left: -2rem;
                border-top-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }

            &-icon {
                position: absolute;
                top: 1.5rem;
                width: 24px;
            }
            &-content {
                margin-top: 50px;
                @media screen and (min-width: 992px){
                    margin-top: 40px;
                }
                h4{
                    font-size: 14px;
                    font-weight: 700;
                }
                p{
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: normal;
                    margin-top: 15px;
                    color: $blue;
                    &.white{
                       color: #fff;
                    }
                }
                .about__cards-item__value + p {
                    margin-top: 10px;
                }
            }

            &__value {
                font-size: 32px;
                font-weight: 900;
                margin:10px 0;
            }
        }
    }
}

.request-demo{
    display: flex;
    justify-content: space-between;
    align-items: start;
    &__image{
        display: block;
        border-radius: 100px 0 100px 0;
        // width: calc(50% - 20px);
        width: 46%;
        max-height: 627px;
        margin: 0 auto;
        object-fit: contain;
    }
    &__description{
        // width: calc(50% - 20px);
        width: 60%;
        padding: 0 0 0 44px;
        margin-left: 37px;
        h3 {
            font-size: 24px !important;
            font-weight: 600;
            margin-bottom: 25.5px;
        }
        h1 {
            // line-height: 49.6833px;
            letter-spacing: 0.36px;
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 41px;
        }
        p{
            margin: 1.6875rem 0;
            font-size: 15px;
            font-weight: 500;
            line-height: 23px;
        }
        .btn--blue {
            float: left;
        }
    }
}

.home {
    .request-demo {
        align-items: center;
    }
}

.carousel{
    overflow: hidden;

    .icon-prev{
        color: $red;
        position: absolute;
        top: 332px;
        right: 90px;
        font-size: 25px;
        left: initial;
        width: 24px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
    }
    .icon-next{
        color: $red;
        position: absolute;
        top: 332px;
        right: 43px;
        font-size: 25px;
        left: initial;
        width: 24px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
    }

    &__item{
        &-content{
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            min-height: 600px;
            padding: 0 45px;
        }
        .left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap:45px;
            align-items: flex-end;
            width: 420px;
            img{
                display: block;
                &:first-child{
                    width: 100%;
                    margin-bottom: 40px;
                }
                &:last-child{
                    width: 100%;
                    max-width: 240px;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin:45px 0 0 45px;
            .quote{
                margin-bottom: 74px;
                .icon{
                    width: 28px;
                    margin-left: 40px;
                }
                .text{
                    font-size: 27px;
                    font-weight: 600;
                    font-style: italic;
                    letter-spacing: .36px;
                    line-height: 37px;
                    color: $blue;
                    margin: 20px 0;
                    border-left: solid 1px rgb(204, 204, 204);
                    padding-left: 40px;
                }
                .author{
                    color: $blue;
                    font-weight: 500;
                    font-size: 16px;
                    padding-left: 40px;
                }
            }
            img{
                width: 100%;
                display: block;
            }
        }
    }
}

.featured-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    &__text{
        color: $blue;
        font-size: 0.9rem;
        line-height: 20px;
        font-weight: 700;
        height: 40px;
    }
    &__separator{
        width: 1px;
        height: 40px;
        background-color: rgb(204, 204, 204);;
    }
    img {
        display: block;
        width: 100px;
    }
}

.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    &__left{
        flex: 0 0 400px;
    }
    h2 {
        font-size: 1.2rem;
        color:#d5cfce;
        font-weight: 900;
        margin-bottom: 20px;
    }
    &__title{
        color: $blue;
        font-size: 2rem;
        font-weight: 800;
        margin: 20px 0;
    }
    &__navigate{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px 0;
        padding:0;
        &-item{
            list-style: none;
            border-left: solid 1px rgb(204, 204, 204);
            &-name{
                font-size: 1.25rem;
                font-weight: 800;
                color: rgb(204, 204, 204);
                cursor: pointer;
                padding: 30px 20px;
                margin-left: -1px;
                &:hover{
                    color: $blue;
                    border-left: solid $red 2px;
                }
            }
            &-info{
                display: none;
            }
            &-button{
                display: none !important;
            }

            &.active{
                .solution__navigate-item-name{
                    color: $blue;
                    border-left: solid $red 2px;
                }
                .solution__navigate-item-info{
                    display: block;
                    color: $gray;
                    font-size: 0.9rem;
                    font-weight: 500;
                    margin: 10px 20px;
                }
                .solution__navigate-item-button{
                    display: inline-block !important;
                    margin: 10px 20px;
                    font-size: 0.85rem;
                    line-height: 1.5;
                }
            }
        }
    }

    &__right{
        min-height: 700px;
        flex:1 1 100%;
        margin-left: 45px;
        position: relative;
        .pleca{
            background-color: #f6f5f5;
            width: 90%;
            height: 100%;
            position: absolute;
            z-index: -1;
            top: -30px;
            right: -200px;
            border-radius: 400px 20px 400px 20px;
        }
    }
    &__image {
        /* display: none;*/
        opacity: 0;
        position: absolute;
        right: -200px;
        transform: translateY(-50%);
        top:50%;
        @media screen and (min-width: 992px){
            width: 110%;
            max-width: initial !important;
            &.active {
                right: -15%;
            }
        }
        &.active {
            display: block;
            opacity: 1;
            right: 0;
            transition: all 0.4s ease-in-out;
        }
    }
}

.roi {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;

    &__content {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
    }
    &__boxes {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        z-index: 1;
        flex-direction: row;
        flex-wrap: wrap;
        width: 912px;
        margin-left: -210px;

        &-item {
            position: relative;
            width: 280px;
            height: 280px;
            color: rgb(21, 16, 67);
            box-shadow: rgba(101, 101, 101, 0.1) -10px 55px 40px 0px;
            padding: 1rem;
            background: white;
            border-radius: 16px;
            &:first-child {
                margin-top: 6rem;
                margin-right: 2rem;
            }
            &:nth-child(3) {
                margin-top: 16.5rem;
                margin-left: 2rem;
                color: white;
                background: rgb(21, 16, 67);
                .roi__boxes-item-icon {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 8px;
                        right: -6px;
                        width: 22px;
                        height: 22px;
                        opacity: 0.15;
                        border-top-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        background: white;
                    }
                }
                .roi__boxes-item-title,
                .roi__boxes-item-value,
                .roi__boxes-item-info {
                    color: white;
                }
            }
            &:last-child {
                margin-top: -14rem;
            }
            &::before {
                content: "";
                position: absolute;
                width: 180px;
                height: 180px;
                z-index: -1;
                background: rgba(213, 207, 206, 0.25);
            }
            &:first-child::before {
                top: -2rem;
                left: -2rem;
                border-top-left-radius: 25px;
            }
            &:nth-child(2)::before {
                top: -2rem;
                right: -2rem;
                border-top-right-radius: 25px;
            }
            &:last-child::before {
                bottom: -2rem;
                left: -2rem;
                border-bottom-left-radius: 25px;
            }

            &-icon {
                position: relative;
                width: 22px;
                fill: white;
                &::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    right: -6px;
                    width: 22px;
                    height: 22px;
                    opacity: 0.25;
                    border-top-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    background: rgb(245, 72, 98);
                }
                &.blue::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    right: -6px;
                    width: 22px;
                    height: 22px;
                    opacity: 0.15;
                    border-top-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    background: white;
                }
            }
            &-title{
                font-size: 16px;
                color: $blue;
                font-weight: 700;
                margin-top: 10px;
                &.white{
                    color: #fff;
                }
            }
            &-value{
                font-size: 36px;
                color: $blue;
                font-weight: 900;
                margin: 10px 0;
                &.white{
                    color: #fff;
                }
            }
            &-info{
                font-size: 15px;
                color: $gray;
                font-weight: 500;
                &.white{
                    color: #fff;
                }
            }
        }
    }
    &__description {
        position: absolute;
        right: -300px;
        top: -60px;
        width: 100%;
        max-width: 520px;
        &-content {
            position: relative;
            width: auto;
        }
        h2:not(.roi__description-subtitle) {
            font-size: 18px;
            color:#d5cfce;
            font-weight: 900;
            margin-bottom: 20px;
        }
        &-title{
            font-size: 2rem;
            color: $blue;
            font-weight: 800;
            margin: 20px 0;
            line-height: 1.15;
        }
        &-subtitle{
            font-size: 22.5px;
            color: $blue;
            font-weight: 500;
            letter-spacing: 0.36px;
            margin-top: 1rem;
            line-height: 28.1333px;
        }
        &-text{
            font-size: 1rem;
            color: $gray;
            font-weight: 500;
            letter-spacing: .37px;
            line-height: 23px;
            margin-top: 1.5rem;
        }
    }
}

.clients {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__description{
        width: calc(60% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 992px){
            width: 49%;
        }
        @media screen and ( min-width: 1360px){
            width: 55%;
        }
        h2{
            font-size: 1.2rem;
            color:#d5cfce;
            font-weight: 900;
            margin-bottom: 20px;
        }
        &-title{
            font-size: 2rem;
            font-weight: 800;
            line-height: 41px;
            color: $blue;
            padding-right: 10px;
        }
        &-image, img {
            display: block;
            //width: 100%;
            max-width: 596px;
            margin: 50px 0;
            @media screen and (min-width: 992px){
                width: 100%;
            }
        }
        &-text, p {
            font-size: 1.2rem;
            color: $blue;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: .36px;
            max-width: 590px;
        }
        .link {
            margin-top: 36px;
            display: block;
            font-size: 1rem;
        }
    }
    &__image{
        width: calc(40% - 40px);

        @media screen and ( min-width: 992px){
            margin-top: 65px;
            width: 45%;
        }

        @media screen and ( min-width: 1360px){
            width: 40%;
        }

        img{
            display: block;
            width: 100%;
            padding: 8px;
        }
    }
}


@media (max-width: 1152px) {
    .carousel{
        .icon-prev,
        .icon-next{
            top:400px;
        }
        &__item{
            .left{
                width: calc(50% - 20px);
            }
            .right{
                justify-content: center;
                width: calc(50% - 20px);
            }
        }
    }

    .roi{
        &__boxes {
            &-item {
                width: 240px;
                &:nth-child(3) {
                    margin-top: 18.5rem;
                }
                &:last-child {
                    margin-top: -16rem;
                }
                &:first-child::before {
                    top: -1rem;
                    left: -1rem;
                }
                &:nth-child(2)::before {
                    top: -1rem;
                    right: -1rem;
                }
                &:last-child::before {
                    bottom: -1rem;
                    left: -1rem;
                }
                &-value{
                    font-size: 30px;
                }
                &-info{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        &__description {
            right: -140px;
            max-width: 400px;
        }
    }
    .about{
        &__cards{
            &-item{
                width: 250px;
                height: 250px;
                padding: 1.5rem;
                &-content {
                    margin-top: 2.5rem;//cambiado
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .about,
    .request-demo,
    .carousel,
    .featured-logos,
    .solution,
    .roi,
    .clients {
        padding: 50px 0;
    }
    .request-demo {
        flex-direction: column;
        &__image{
            width: 100%;
            order: 2;
        }
        &__description{
            width: 100%;
            order: 1;
            margin-bottom: 40px;
            padding: 0;
            max-width: 530px;
            margin-left: 0;

            p{
                max-width: 420px;
            }
        }
    }

    .carousel {
        &__item{
            .left {
                display: none;
            }
            .right{
                width: 100%;
                img {
                    display: none !important;
                }
            }
            &-content {
                min-height: auto !important;
            }
        }
        .slick-arrow {
            display: none !important;
        }
    }

    .featured-logos {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        &__text{
            margin: 20px;
        }
        img{
            margin: 20px;
        }
        &__separator {
            height: 1px !important;
            margin-bottom: 20px;
            width: 60px !important;
        }
    }

    .solution {
        flex-direction: column;
        &__left{
            width: 100%;
            p{
                max-width: 420px;
            }
        }
        &__right{
            align-self: start;
            min-height: initial;
            width: 320px;
            flex: 0 0 400px;
            .pleca {
                display: none;
            }
        }
    }

    .roi {
        &__content{
            display: flex;
            justify-content: center;
            align-self: center;
            flex-direction: column;
            width: 420px;
        }
        &__boxes {
            margin: 6rem 0 0 0;
            width: 100%;
            order: 2;
            &-item {
                width: 240px;
                margin: 20px !important;
                &:first-child::before {
                    top: -1rem;
                    left: -1rem;
                }
                &:nth-child(2)::before {
                    top: -1rem;
                    right: -1rem;
                }
                &:last-child::before {
                    bottom: -1rem;
                    left: -1rem;
                }
                &-value{
                    font-size: 30px;
                }
                &-info{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        &__description {
            position: relative;
            top: initial;
            right: initial;
            left: initial;
            order: 1;
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;
        }
    }

    .clients {
        align-items: center;
        display: flex;
        flex-direction: column-reverse !important;
        gap:3rem;
        justify-content: center;
        &__image{
            order: 2;
            max-width: 420px;
            width: 90%;
        }
        &__description{
            width: 100%;
            order: 1;
            margin-bottom: 40px;
            margin-top: 4rem;
            &-text {
                img {
                    max-width: 100%;
                }
            }
            img {
                max-width: 100%;
            }
        }
    }

    .about{
        flex-direction: column;
        &__description{
            width: 100%;
            margin-bottom: 20px;
        }
        &__cards{
            width: 100%;
            justify-content: center;
            align-items: center;
            &-item{
                width: 250px;
                margin: 40px 0 !important;
                align-self: initial !important;
                &:before{
                    top: -2rem !important;
                    left: -2rem !important;
                }
            }
        }
    }
}
