.home{
    section{
        padding: 100px 0;
    }

    .request-demo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__image{
            display: block;
            border-radius: 100px 0 100px 0;
            width: calc(50% - 20px);
        }
        &__description{
            width: calc(50% - 20px);
            padding: 0 40px;
            p{
                margin: 40px 0;
            }
        }
    }

    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__description{
            width: calc(50% - 40px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                margin-bottom: 20px;
            }
            &-title{
                font-size: 32px;
                font-weight: 800;
                color: $blue;
            }
            &-text{
                
                margin: 30px 0;
            }
            .link{
                display: block;
            }
        }
        &__cards{
            width: calc(50% - 40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: flex-start;
            //width: calc(520px + 2rem);
       
            &-item{
                display: flex;
                flex-direction: column;
                -webkit-box-pack: center;
                justify-content: center;
                position: relative;
                width: 250px;
                height: 250px;
                color: rgb(21, 16, 67);
                box-shadow: rgba(101, 101, 101, 0.1) -10px 55px 40px 0px;
                padding: 1.5rem;
                background: white;
                border-radius: 12px;

                &:first-child {
                    margin-bottom: calc(-125px + 1rem);
                }
                &:nth-child(2) {
                    align-self: flex-end;
                }
                &:last-child {
                    margin-top: calc(-125px + 1rem);
                    color: white;
                    background: rgb(21, 16, 67);
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 180px;
                    height: 180px;
                    z-index: -1;
                    background: rgba(213, 207, 206, 0.25);
                }
                &:first-child::before {
                    top: -2rem;
                    left: -2rem;
                    border-top-left-radius: 25px;
                }
                &:nth-child(2)::before {
                    bottom: -2rem;
                    left: -2rem;
                    border-top-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                }

                &-icon {
                    position: absolute;
                    top: 1.5rem;
                    width: 24px;
                }
                &-content {
                    margin-top: 50px;
                    h4{
                        font-weight: 700;
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: normal;
                        margin-top: 15px;
                        color: $blue;
                        &.white{
                           color: #fff; 
                        }
                    }
                }
            }
        }
    }

    .carousel{
        overflow: hidden;

        .icon-prev{
            color: $red;
            position: absolute;
            top: 332px;
            right: 120px;
            font-size: 25px;
            left: initial;
            width: 46px;
            height: 20px;
            cursor: pointer;
            z-index: 2;
        }
        .icon-next{
            color: $red;
            position: absolute;
            top: 332px;
            right: 60px;
            font-size: 25px;
            left: initial;
            width: 46px;
            height: 20px;
            cursor: pointer;
            z-index: 2;
        }

        &__item{
            &-content{
                width: 100%;
                max-width: 1060px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                min-height: 600px;
            }
            .left{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                img{
                    display: block;
                    &:first-child{
                        width: 100%;
                        max-width: 420px;
                        margin-bottom: 40px;
                    }
                    &:last-child{
                        width: 100%;
                        max-width: 240px;
                    }
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .quote{
                    .icon{
                        width: 28px;
                        margin-left: 40px;
                    }
                    .text{
                        font-size: 27px;
                        font-weight: 600;
                        font-style: italic;
                        letter-spacing: .36px;
                        line-height: 37px;
                        color: $blue;
                        margin: 20px 0;
                        border-left: solid 1px rgb(204, 204, 204);
                        padding-left: 40px;
                    }
                    .author{
                        color: $blue;
                        font-weight: 500;
                        font-size: 16px;
                        padding-left: 40px;
                    }
                }
                img{
                    width: 100%;
                    display: block;
                    max-width: 600px;
                }
            }
        }
    }

    .featured{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        &__text{
            color: $blue;
            font-size: 16px;
            font-weight: 700;
            height: 40px;
        }
        &__separator{
            width: 1px;
            height: 40px;
            background-color: rgb(204, 204, 204);;
        }
        &__image{
            display: block;
            width: 100px;
        }
    }

    .solution{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &__left{
            width: 40%;
        }

        &__title{
            color: $blue;
            font-size: 36px;
            font-weight: 800;
            margin: 20px 0;
        }
        &__navigate{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 20px 0;
            &-item{
                border-left: solid 1px rgb(204, 204, 204);
                &-name{
                    font-size: 22px;
                    font-weight: 800;
                    color: rgb(204, 204, 204);
                    cursor: pointer;
                    padding: 30px 20px;
                    margin-left: -1px;
                    &:hover{
                        color: $blue;
                        border-left: solid $red 2px; 
                    }
                }
                &-info{
                   display: none;
                }
                &-button{
                    display: none;
                }

                &.active{
                    .solution__navigate-item-name{
                        color: $blue;
                        border-left: solid $red 2px; 
                    }
                    .solution__navigate-item-info{
                        display: block;
                        color: $gray;
                        font-size: 16px;
                        font-weight: 500;
                        margin: 10px 20px;
                    }
                    .solution__navigate-item-button{
                        display: inline-block;
                        margin: 10px 20px;
                    }
                }
            }
        }

        &__right{
            width: 60%;
            position: relative;
            .pleca{
                background-color: #f6f5f5;
                width: 90%;
                height: 100%;
                position: absolute;
                z-index: -1;
                top: -30px;
                right: -200px;
                border-radius: 400px 20px 400px 20px;
            }
            img{
                display: block;
                width: 100%;
            }
        }

    }

    .roi{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        
        &__content {
            position: relative;
            display: flex;
            flex-direction: row;
            margin-bottom: 0px;
        }
        &__boxes {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            z-index: 1;
            flex-direction: row;
            flex-wrap: wrap;
            width: 850px;
            margin-left: -150px;

            &-item {
                position: relative;
                width: 260px;
                height: 260px;
                color: rgb(21, 16, 67);
                box-shadow: rgba(101, 101, 101, 0.1) -10px 55px 40px 0px;
                padding: 1rem;
                background: white;
                border-radius: 16px;
                &:first-child {
                    margin-top: 6rem;
                    margin-right: 2rem;
                }
                &:nth-child(3) {
                    margin-top: 13.5rem;
                    margin-left: 2rem;
                    color: white;
                    background: rgb(21, 16, 67);
                }
                &:last-child {
                    margin-top: -11rem;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 180px;
                    height: 180px;
                    z-index: -1;
                    background: rgba(213, 207, 206, 0.25);
                }
                &:first-child::before {
                    top: -2rem;
                    left: -2rem;
                    border-top-left-radius: 25px;
                }
                &:nth-child(2)::before {
                    top: -2rem;
                    right: -2rem;
                    border-top-right-radius: 25px;
                }
                &:last-child::before {
                    bottom: -2rem;
                    left: -2rem;
                    border-bottom-left-radius: 25px;
                }

                &-icon {
                    position: relative;
                    width: 22px;
                    fill: white;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 8px;
                        right: -6px;
                        width: 22px;
                        height: 22px;
                        opacity: 0.25;
                        border-top-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        background: rgb(245, 72, 98);
                    }
                    &.blue::before {
                        content: "";
                        position: absolute;
                        top: 8px;
                        right: -6px;
                        width: 22px;
                        height: 22px;
                        opacity: 0.15;
                        border-top-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        background: white;
                    }
                }
                &-title{
                    font-size: 16px;
                    color: $blue;
                    font-weight: 700;
                    margin-top: 10px;
                    &.white{
                        color: #fff;
                    }
                }
                &-value{
                    font-size: 36px;
                    color: $blue;
                    font-weight: 900;
                    margin: 10px 0;
                    &.white{
                        color: #fff;
                    }
                }
                &-info{
                    font-size: 15px;
                    color: $gray;
                    font-weight: 500;
                    &.white{
                        color: #fff;
                    }
                }
            }
        }
            
            
        .roi__description {
            position: absolute;
            right: -260px;
            top: -60px;
            width: 100%;
            max-width: 490px;
            &-content {
                position: relative;
                width: auto;
            }
            &-title{
                font-size: 36px;
                color: $blue;
                font-weight: 800;
                margin: 20px 0;
            }
            &-subtitle{
                font-size: 22px;
                color: $blue;
                font-weight: 500;
                margin: 10px 0;
            }
            &-text{
                font-size: 18px;
                color: $gray;
                font-weight: 500;
                letter-spacing: .37px;
                line-height: 27px;
            }
        }
        


    }

    .clients{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &__description{
            width: calc(60% - 40px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                margin-bottom: 20px;
            }
            &-title{
                font-size: 32px;
                font-weight: 800;
                color: $blue;
            }
            &-image{
                display: block;
                width: 100%;
                max-width: 620px;
                margin: 50px 0;
            }
            &-text{
                font-size: 22px;
                color: $blue;
                font-weight: 500;
                line-height: 34px;
                letter-spacing: .36px;
                max-width: 440px;
            }
            .link{
                margin-top: 36px;
                display: block;
            }
        }
        &__image{
            width: calc(40% - 40px);
            img{
                display: block;
                width: 100%;
            }
        }
    }

}